---
const { t, id } = Astro.props;
---

<section id={id}>
  <div class="header">
    <h1 class="name">{t.about.name}</h1>
    <h1 class="cursor"></h1>
  </div>
  <div class="content">
    <p>{t.about.description}</p>
  </div>
</section>

<style>
  section#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    max-width: 80%;
    margin-inline: auto;
  }

  .header {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  
  .header .name {
    overflow: hidden;
    border-right: .10em solid var(--color-text);
    white-space: nowrap;
    margin: 0;
    animation: typing 1.8s steps(60, end) forwards;
  }
  .header .name.finished {
    animation: none;
    border-right: .10em solid transparent;
  }
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  .header .cursor {
    position: absolute;
    right: 0;
    width: 1ch;
    height: 1.5em; 
    border-right: .10em solid transparent;
    animation: cursorexpand 1s ease-in-out infinite;
  }
  .header .cursor.display {
    border-right: .10em solid var(--color-text);
  }
  @keyframes cursorexpand {
    from, to { transform: scaleY(1); }
    50% { transform: scaleY(0); }
  }

  @media (min-width: 768px) {
    .header h1 {
      font-size: 2.2rem;
    }
  }

  @media (min-width: 1024px) {
    .header h1 {
      font-size: 2.5rem;
    }
  }
</style>

<script>
  setTimeout(() => {
    document.querySelector('.header .name')?.classList.add('finished');
    document.querySelector('.header .cursor')?.classList.add('display');
  }, 2000);
</script>
