---
const { class: className } = Astro.props;
---

<li class={className ?? ''}>
  <slot />
</li>

<style>
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .first-element {
    margin-top: 32px;
  }

  @media (min-width: 768px) {
    .first-element {
      margin-top: 0;
    }
  }
</style>